.main {
    background-color: #808080f5;
}

#header {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 70px;
    text-align: center;
}

.list {
    background: white;
    border: 10px;
    width: 500px; 
}

.links{
    display: block;
    background-color: #808080f5;
    padding: 5px; 
    font-size: 38px;  
    border: 5px solid white; 
}